<header>

    <div style="float: left;">
        <admin-form></admin-form>
    </div>

    <div style="float: left;">
        <dashboard-select
                options="central.dashboards"
                selected="central.selectedDashboard"
                on-remove="central.removeDashboard"
                on-change="central.loadDashboard"></dashboard-select>
    </div>

    <div>
        <button ng-click="central.showNewDashboardDialog()">Add dashboard</button>
        <button ng-click="addWidget(selectedDashboard)">Add widget</button>
    </div>

</header>

<div>

    <dashboard src="selectedDashboard"></dashboard>

</div>
