// Font
@font_family: 'Open Sans', sans-serif;

// Global
@background_color: #2f2f2f;
@text_color: #fff - @background_color;
@modal_bg_color: lighten(@background_color, 70%);

@error_color: #c0392b;

// Buttons
@btn_main_bg_color: #9b59b6;
@btn_main_text_color: white;

// Widgets
@widget_bg_color: lighten(@background_color, 10%);