<div>

    <h3>Add widget</h3>

    <form ng-submit="ctrl.addWidget()">

        <fieldset>
            <label>Caption</label>
            <input type="text" ng-model="ctrl.widgetCaption"/>
        </fieldset>

        <fieldset>
            <label>Type</label>
            <select ng-model="ctrl.widgetType"
                    ng-options="option for option in ctrl.availableWidgetTypes"></select>
        </fieldset>

        <fieldset>
            <label>Datasource</label>
            <select ng-model="ctrl.datasourceType"
                    ng-options="option for option in ctrl.availableDatasourcesTypes"></select>
        </fieldset>

        <!-- PULL datasource -->

        <div ng-show="ctrl.datasourceType == 'PULL'">

            <fieldset>
                <label>URL</label>
                <input type="text" ng-model="ctrl.pullURL"/>
            </fieldset>

			<fieldset ng-class="{'invalid': !ctrl.isJsonltValid}">
				<label>
					<a target="_blank" href="https://github.com/idooo/jsonlt">JSONLT</a> template
					(optional, <span class="fieldset-message">must be valid JSON</span>)
				</label>
				<textarea class="code" ng-model="ctrl.jsonlt"></textarea>
			</fieldset>

			<fieldset>
				<label>Update interval in seconds</label>
				<slider floor="5" ceiling="300" step="5" ng-model="ctrl.interval"></slider>
			</fieldset>

        </div>

        <!-- END -->

        <input type="submit" value="Add widget"/>

        <span class="form-error-message">{{ctrl.error.message}}</span>

    </form>

</div>
