<div>

    <h3>
        <span ng-show="ctrl.view == 0">Widget settings</span>
        <span ng-show="ctrl.view != 0">
            <a href="#" ng-click="ctrl.closeDatasourceSettings()">Widget settings</a> -
            {{::ngDialogData.widget.datasource}}
        </span>
    </h3>

    <div ng-show="ctrl.view == 0">

        <fieldset>
            <label>Caption</label>
            <input type="text" ng-model="ctrl.caption"/>
        </fieldset>

        <fieldset>
            <label>Key</label>
            <input type="text" readonly ng-model="ngDialogData.widget.key"/>
        </fieldset>

        <fieldset>
            <label>Type</label>
            <input type="text" readonly ng-model="ngDialogData.widget.type"/>
        </fieldset>

        <fieldset ng-show="!!ngDialogData.widget.datasource">
            <label>Datasource</label>
            <a href="#" ng-click="ctrl.openDatasourceSettings()">{{::ngDialogData.widget.datasource}}</a>
        </fieldset>

        <div class="form-btn-container">

            <button ng-click="ctrl.updateWidget()">Update</button>

            <button class="btn--minor" ng-click="ctrl.cloneWidget()">Clone</button>

            <button class="btn--minor"
                    popover
                    items="ctrl.availableDashboards"
                    select="ctrl.moveToDashboard">Move to...</button>

            <span class="form-error-message">{{ctrl.error.message}}</span>

            <button class="btn--warning btn--right" ng-click="ctrl.removeWidget()">Remove</button>

        </div>

    </div>

    <div ng-show="ctrl.view == 1"
         ng-include="'widget/views/widget_datasource_part.html'"></div>


</div>