<div class="d-widget-container" ng-hide="deleted">

    <div class="widget" ng-transclude></div>

    <div class="d-widget-container__controls">
        {{widgetKey}}
        <button ng-click="removeWidget()">delete</button>
    </div>

</div>