@import "../variables";
@import "../mixins";

// =======================================================================================

.d-widget-container {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	flex-direction: column;

	&__controls {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 100;
	}

	&__body {
		height: 100%;
		width: 100%;
		opacity: 0;
		.transition(~"opacity 0.2s");

		&--rendered {
			opacity: 1;
		}
	}
}

	.widget {
		height: 100%;
		width: 100%;
		overflow: hidden;
	}