<div class="d-admin-form">

    <i class="icon-lock"></i>

    <input type="text" name="username" ng-model="username"/>

    <input type="password" name="password" ng-model="password"/>

    <button ng-click="login()">auth</button>

</div>