@import "../variables";
@import "../mixins";

// Variables

@important_message_color: @text_color;

// =======================================================================================

.d-dashboard {

	// TODO: Not the best way to lock/unlock widgets
	&--locked {

		.d-widget-container__controls {
			display: none;
		}

		.gridster-item,
		.d-widget-container {
			background-color: transparent !important;
		}

	}

	&--unlocked .d-widget-container  {
		background-color: @widget_bg_color;
	}
}

.dashboard-important-message {
	color: @important_message_color;
	text-align: center;
	padding: 0;
	margin: 200px 0 0;
}