// Shared classes for widgets
@import "../variables";
@import "../mixins";

// Variables

@caption_color: @text_color;

// =======================================================================================

.d-widget-container {
	.flex-display();
	.flex-direction(column);
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);

	&__controls {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 100;
	}

	&__body {
		height: 100%;
		width: 100%;
		opacity: 0;
		.transition(~"opacity 0.2s");

		&--rendered {
			opacity: 1;
		}
		
		&--no-caption {
			padding-top: 0;
		}
	}
}

// Widget itslef
// =======================================================================================

.widget {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

	.widget-caption {
		color: @caption_color;
		text-align: center;
		font-size: 3vh;
		height: 4vh;
		font-weight: 400;
		z-index: 99;
		padding: 2px 0;
		white-space: nowrap;
		width: 100%;
	}
