<div class="rotations-control">

    <h3>
        <span ng-show="ctrl.view == 0">Rotations</span>
        <span ng-show="ctrl.view != 0">
            <a href="#" ng-click="ctrl.deselectRotation()">Rotations</a> -
            <span class="rotations-control__dashboard-header">
                {{ctrl.selectedRotation.name || ctrl.selectedRotation.url}}
            </span>
        </span>
    </h3>

    <!-- Rotations list - BEGIN -->

    <div ng-show="ctrl.view == 0">

        <table>

            <thead>
                <tr>
                    <th>Rotation name or URL</th>
                    <th>Dashboards</th>
                    <th>Clipboard</th>
                </tr>
            </thead>

            <tr class="rotation-item"
                 ng-repeat="rotation in ctrl.rotations">

                <td class="rotation-item__url">
                    <a href="#"
                       ng-click="ctrl.openSettings(rotation)">{{rotation.name || rotation.url}}</a>
                </td>

                <td class="rotation-item__dashboards">
                    <a href="#"
                       ng-click="ctrl.openDashboards(rotation)">{{rotation.dashboards | fieldsConcat:'name'}}</a>
                </td>

                <td class="rotation-item__copy">
                    <a href="#"
                       clip-copy="ctrl.getRotationUrl(rotation)">Copy link</a>
                </td>

            </tr>

        </table>

        <button ng-click="ctrl.createRotation()">Add new rotation</button>

    </div>

    <!-- Rotations list - END -->

    <div class="rotations-control__details"
         ng-show="ctrl.view == 1"
         ng-include="'rotation/views/rotation_settings_part.html'"></div>

    <div
         ng-show="ctrl.view == 2"
         ng-include="'rotation/views/rotation_dashboards_part.html'"></div>


</div>