
<table class="rotations-control-dashboards"
       ng-show="ctrl.selectedRotation.dashboards.length">

    <thead>
        <tr>
            <th>Dashboards in rotation</th>
            <th>Timeout</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        <tr ng-repeat="dashboard in ctrl.selectedRotation.dashboards">
            <td>
                {{::dashboard.name}}
                <span class="rotations-control-dashboards__flag" ng-show="dashboard.private">Private</span>
                <span class="rotations-control-dashboards__flag" ng-show="!!dashboard.IPAddressRange.length">IP restrictions</span>
            </td>
            <td>
                <timeout rotation="ctrl.selectedRotation" dashboard="dashboard"></timeout>
            </td>
            <td>
                <span class="rotations-control-dashboards__exclude"
                      ng-click="ctrl.removeDashboardFromRotation(ctrl.selectedRotation, dashboard)">×</span>
            </td>
        </tr>

    </tbody>

</table>

<!-- Dashboards in rotation - END -->


<!-- Available dashboards - BEGIN -->

<table class="rotations-control-dashboards"
       ng-show="ctrl.selectedRotation.dashboards.length !== ctrl.dashboards.length" >

    <thead>
        <tr>
            <th>Available dashboards</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="dashboard in ctrl.dashboards | filter:not(ctrl.isDashboardInSelectedRotation)">
            <td>
                {{::dashboard.name}}
                <span class="rotations-control-dashboards__private" ng-show="dashboard.private">Private</span>
            </td>
            <td>
                <button class="btn--small" ng-click="ctrl.addDashboardToRotation(ctrl.selectedRotation, dashboard)">Add</button>
            </td>
        </tr>
    </tbody>

</table>

<!-- Available dashboards - END -->

<p class="disclaimer">
    * Private dashboards will be not displayed in rotation for unauthorised users<br>
    * Dashboards with IP restrictions may be not displayed for them as well
</p>


