<div class="widget-list">

    <ul data-scalable="true" class="widget-list-container">

        <li class="widget-list-item" ng-repeat="item in widget.data">

            <span class="widget-list-item__value">{{item.value}}</span>
            <span class="widget-list-item__label">{{item.label}}</span>

        </li>

    </ul>

</div>