<div class="widget-list">

    <div class="widget-caption" ng-show="!!widget.caption">{{widget.caption}}</div>

    <ul class="widget-list-container"
        ng-class="{'widget-list-container--with-caption': !!widget.caption}">

        <li class="widget-list-item" ng-repeat="item in widget.data">

            <span class="widget-list-item__value">{{item.value}}</span>
            <span class="widget-list-item__label">{{item.label}}</span>

        </li>

    </ul>

</div>