<div>

    <h3>Dashboard settings</h3>

    <fieldset>
        <label>Name</label>
        <input type="text" ng-model="ctrl.name"/>
    </fieldset>

    <fieldset>
        <label>URL</label>
        <input type="text" readonly value="{{::ctrl.baseUrl}}{{ngDialogData.dashboard.url}}"/>
    </fieldset>

    <fieldset>
        <label>Private</label>
        <div class="checkbox">
            <input type="checkbox" value="None" id="privateFlag" name="check" ng-model="ctrl.private" />
            <label for="privateFlag"></label>
        </div>
    </fieldset>

    <div class="form-btn-container">

        <button ng-click="ctrl.updateDashboard()">Update</button>

        <button class="btn--minor" ng-click="ctrl.regenerateUrl()">Regenerate URL</button>

        <button class="btn--warning btn--right" ng-click="ctrl.removeDashboard()">Remove</button>

    </div>

</div>