<div class="rotations-control">

    <h3>Rotations</h3>

    <div class="rotations-control__inner-container">

        <!-- Rotations list - BEGIN -->

        <div class="rotations-control__rotations">

            <div class="rotations-control-rotation"
                 ng-repeat="rotation in ctrl.rotations">

                <a href="#"
                   class="rotations-control-rotation__url"
                   ng-class="{'rotations-control-rotation__url--selected' : ctrl.selectedRotation.url === rotation.url }"
                   ng-click="ctrl.selectRotation(rotation)">{{::rotation.url}}</a>

                <span>{{rotation.dashboards.length}}</span>

            </div>

            <button ng-click="ctrl.createRotation()">Add new rotation</button>

        </div>

        <!-- Rotations list - END -->

        <!-- Rotations details - BEGIN -->

        <div class="rotations-control__details"
             ng-show="ctrl.selectedRotation">

            <a href="#"
               class="btn btn--small btn--minor rotations-control-rotation__copy"
               clip-copy="ctrl.getRotationUrl(ctrl.selectedRotation)">Copy link to clipboard</a>

            <!-- Dashboards in rotation - BEGIN -->

            <table class="rotations-control-dashboards"
                   ng-show="ctrl.selectedRotation.dashboards.length">

                <thead>
                    <tr>
                        <th>Dashboards in rotation</th>
                        <th>Timeout</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    <tr ng-repeat="dashboard in ctrl.selectedRotation.dashboards">
                        <td>{{dashboard.name}}</td>
                        <td>{{dashboard.timeout || 30}} seconds</td>

                        <td>
                            <span class="rotations-control-dashboards__exclude"
                                  ng-click="ctrl.removeDashboardFromRotation(ctrl.selectedRotation, dashboard)">×</span>
                        </td>
                        <!-- <button ng-click="ctrl.setDashboardTimeout(ctrl.selectedRotation, dashboard, 31)">set timeout</button> -->
                    </tr>

                </tbody>

            </table>

            <!-- Dashboards in rotation - END -->


            <!-- Available dashboards - BEGIN -->

            <table class="rotations-control-dashboards"
                   ng-show="ctrl.selectedRotation.dashboards.length !== ctrl.dashboards.length" >

                <thead>
                    <tr>
                        <th>Available dashboards</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="dashboard in ctrl.dashboards | filter:not(ctrl.isDashboardInSelectedRotation)">
                        <td>{{dashboard.name}}</td>

                        <td>
                            <button class="btn--small" ng-click="ctrl.addDashboardToRotation(ctrl.selectedRotation, dashboard)">Add</button>
                        </td>
                    </tr>
                </tbody>

            </table>

            <!-- Available dashboards - END -->

            <button class="btn--warning"
                    ng-click="ctrl.removeRotation(ctrl.selectedRotation)">Delete Rotation</button>

        </div>

        <!-- Rotations details - END -->

    </div>

</div>