<div class="widget-status">

    <div class="widget-status__caption">

        <div class="widget-status__caption-inner">

            {{widget.caption}}

        </div>

    </div>

    <div class="widget-status__indicator widget-status__indicator--{{widget.data.status}}">

    </div>

</div>