@import "../variables";

// Layout
// ========================================================================

body {
	font-family: @font_family;
	background-color: @background_color;
}

// Headers
// ========================================================================

h3 {
	margin: 0 0 10px;
	padding: 0;
	font-size: 24px;
	font-weight: 100;
}

h4 {
	margin: 0 0 6px;
	font-weight: 100;
	padding-bottom: 4px;
	border-bottom: 1px solid rgb(189, 189, 189);
}

// Links
.context-link {
	text-decoration: none;
	border-bottom: 1px dotted #7c7c7c;
}

// Gridster default style override
// ========================================================================

.gridster-item {
	overflow: hidden;
}