@import "../variables";
@import "../mixins";

header {

}

	.header-content {
		.clearfix();

		&__element {
			float: left;
		}
	}

	.menu-toggler {
		cursor: pointer;
		font-size: 18px;
		margin-left: 5px;
		margin-right: 10px;
		color: @text_color;
	}