<div class="timeout-select">

    <a class="context-link"
       href="#"
       popover
       items="availableTimeouts"
       select="setDashboardTimeout">{{dashboard.timeout || 30}}</a> seconds

</div>
