<div class="widget-text">

    <div class="widget-text__caption">

        <div class="widget-text__caption-inner">

            <span>

                {{widget.data.text || widget.caption}}

            </span>

        </div>

    </div>

</div>